body {
    margin: 0;
    background-image: url("assets/chao2.jpg");
}
#tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    backdrop-filter: blur(2px);
}
span {
    font-size: 2em;
    font-family: 'arial';
    padding: 1em;
}
button {
    font-family: 'arial';
    font-size: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #c5bcbc;
}
