body {
    margin: 0;
}
#tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 10px;
}
span {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    padding: 1em;
    border: 5px solid;
    background-color: #B2EBF2;
}
button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #c5bcbc;
}
